<template>
  <h1>{{ name }}</h1>
  <img src="../assets/logo.png" height="100">
</template>

<script lang="ts">
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
h1 {
  background-color: invert($color: turquoise)
}
</style>
